.header {
    display: flex;
    background-color: var(--clr-dark);
    height: 3em;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    z-index: 999;
}

.header-bars {
    color: var(--clr-light);
    display: block;
    width: 1.5em;
    z-index: 999;
}

.header-x {
    color: var(--clr-dark);
    display: none;
    width: 1.5em;
    z-index: 999;
}

.header-navbar {
    display: none;
}

.header-menu {
    display: none;
}

.header-menu li {
    color: var(--clr-light);
    font-size: var(--size-base);
    font-weight: 200;
    transition: all 0.3s ease;
    cursor: pointer;
}

.header-menu li:hover {
    color: var(--clr-pink400)
}

.logo-wrapper {
    flex-grow: 1;
}

.logo {
    width: var(--size-2xl);
    height: var(--size-2xl);
    margin-left: var(--size-xxs);
}

.header-mobile-menu-list {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    background-color: var(--clr-pink400);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 5em;
  }

  .header-mobile-menu-list li {
    font-family: Prata,sans-serif;
    font-size: var(--size-5xl);
    letter-spacing: 0.15em;
    cursor: pointer;
    line-height: 1.4em;
  }



  .hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all .4s ease;
    transform: translateX(-20px);

}
.show {
    opacity: 100;
    filter: blur(0px);  
    transform: translateX(-0px);
}




@media (min-width: 475px) {

}

@media (min-width: 640px) {

}
 
@media (min-width: 768px) {
    .header-menu {
        display: flex;
        gap: 2em;
        text-transform: uppercase;
        
    }

    .header-navbar {
        display: flex;
        margin-right: var(--size-3xl);
        
    }

    .header-bars {
        display: none;
    }
}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {

}