.main {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-category {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1em;
    font-size: var(--size-5xl);
    text-transform: uppercase;
    padding: 1%;
}

.main-header-wrapper {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.main-products-wrapper {
    display: flex;
}

.main-filter {
    display: flex;
    z-index: -1;
    background-color: palegoldenrod;
    font-size: var(--size-lg);
    position: sticky;
    width: 200px;
    top: 3em;
    margin-right: 1em;
}

.main-products {
    flex: 1;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-template-rows: repeat(auto-fit, 540px);
    grid-auto-rows: 540px;
    grid-auto-flow: row;
}

.product-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
}

.main-product-discounted {
    color: var(--clr-pink400);
    text-decoration: line-through;
}
.main-product-discounted p {
    text-decoration: none;
    color: black;
}

.main-img {
    width: 80%;
    border-radius: 1em;
    margin-bottom: 1em;
}

.card {
    height: 2em;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-1px);
}

.main-price-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
